<div class="card">
  <div class="card-body">
    <div class="container mb-5 mt-3">
      <div class="row d-flex align-items-baseline">
        <div class="col-xl-9">
          <p style="color: #7e8d9f;font-size: 20px;">Date <strong> {{dt}}</strong></p>
        </div>
        <div class="col-xl-3 float-end">
          <a class="btn btn-light text-capitalize border-0" data-mdb-ripple-color="dark"><i
              class="fas fa-print text-primary"></i> Print</a>
          <a class="btn btn-light text-capitalize" data-mdb-ripple-color="dark"><i
              class="far fa-file-pdf text-danger"></i> Export</a>
        </div>
         <div class="col-md-12">
          <div class="text-center">
            <p style="color: #7e8d9f;font-size: 20px;">{{title}} <strong>Sales Report</strong></p>
            <p class="pt-0">Fonza.com</p>
          </div>

        </div>
        <hr>
        
      </div>

      <div class="container">
       


        

        <div class="row my-2 mx-1 justify-content-center">
          <table class="table table-striped table-borderless">
            <thead style="background-color:#84B0CA ;" class="text-white">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Date</th>
                
                
                <th scope="col">Revenue</th>
              </tr>
            </thead>
            <tbody>
              {{#each total}}
              <tr>
                <th scope="row">{{index}}</th>
                <td>{{_id}}</td>
                <td>₹ {{totalAmount}}</td>
                
                
              </tr>
              {{/each}}
            </tbody>

          </table>
        </div>
        <div class="row">
          <div class="col-xl-8">
            <p class="ms-3">Add additional notes and payment information</p>

          </div>
          <div class="col-xl-3">
            <ul class="list-unstyled">
              
            </ul>
            <p class="text-black float-start"><span class="text-black me-3"> Total Revenue</span><span
                style="font-size: 25px;">₹{{Ftotal}}</span></p>
          </div>
        </div>
        <hr>
        

      </div>
    </div>
  </div>
</div>