<section>
    <div class="container">
        <div class="row mt-4">
            <a href="/admin/add-product" class="btn btn-success ml-auto mx-auto mb-3" style="width: 200px;">Add Product</a>
        </div>
        <table class="table">
  <thead>
    <tr style="background-color: rgb(195, 195, 195) ;">
      
      <th scope="col">Title</th>
      <th scope="col">Category</th>
      <th scope="col">Description</th>
      <th>Image</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    {{#each products}}
    
    <tr>
      
      <td>{{this.title}}</td>
      <td>{{this.price}}</td>
      <td>{{this.description}}</td>
      <td><img style="width: 50px ; height:50px" src="/{{this.image.[0]}}" alt=""></td>
      <td>
                        <a href="/admin/edit-product/{{this._id}}" class="btn btn-info">Update</a>
                        </td>
                        <td>
                          <button class="btn btn-danger"
                            onclick="cancel(event,'{{this._id}}')" >Delete</button>
                        

                    </td>
    </tr>
    {{/each}}
  </tbody>
</table>
    </div>
</section>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
 <script>
		

   function cancel(event,id) {

  event.preventDefault();

  swal({
  title: "Are you sure you want to cancel this order ?",
  text: "Once cancelled, you will not be able to revert it!",
  icon: "warning",
  buttons: true,
  dangerMode: true,
})
.then((willDelete) => {
  if (willDelete) {
    swal("Your order has been cancelled !", {
      icon: "success",
      buttons: false,
    });

    setTimeout(hello,800)

  function hello (){

     {
        $.ajax({

      url: "/admin/delete-product/"+id,
      method: "get",
      success: (response) => {
        
        console.log(response)
        location.reload()
        
      }

    });
  }
  }
  }
});



};
    </script>

