



<div class="container margin_60_35">
			<div class="main_title">
				<h2>Top Selling</h2>
				<span>Products</span>
				<p>Best deals on smart phones you will ever get.</p>
			</div>
				<h1></h1>
			<div class="row small-gutters">
				{{#each category}}
				<div class="col-6 col-md-4 col-xl-3">
						
					<div class="grid_item ">
						
						
						<figure >
							{{!-- <span class="ribbon off">-30%</span> --}}
							<a href="/User/productDetails/{{products._id}}">
								
								<img class="img-fluid " src="/{{products.image.[0]}}" style="width: 100% ; height: 100%;" data-src="img/products/shoes/1.jpg" alt="">
								
							</a>
							{{!-- <div data-countdown="2022/09/15" class="countdown"></div> --}}
						</figure>
						<div class="rating"><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star"></i></div>
						<a href="product-detail-1.html">
							<h3>{{Datas.subcategory}} {{products.title}}</h3>
						</a>
						<div class="price_box">
							<span class="new_price">₹{{products.price}}</span>
							<span class="old_price">₹60.00</span>
						</div>
						<ul>
							<li><a href="#0" class="tooltip-1" data-toggle="tooltip" data-placement="left" title="Add to favorites"><i class="ti-heart"></i><span>Add to favorites</span></a></li>
							<li><a href="#0" class="tooltip-1" data-toggle="tooltip" data-placement="left" title="Add to compare"><i class="ti-control-shuffle"></i><span>Add to compare</span></a></li>
							<li><a href="#0" onclick="addToCart(event,'{{products._id}}','{{userDetails._id}}','1','1')" class="tooltip-1" data-toggle="tooltip" data-placement="left" title="Add to cart"><i class="ti-shopping-cart"></i><span>Add to cart</span></a></li>
						</ul>
						
					</div>
					
					
					
					<!-- /grid_item -->
				</div>
				{{/each}}
				<!-- /col -->
			</div>
			<!-- /row -->
		</div>
