
<main class="bg_gray">
		<div class="container margin_30">
		<div class="page_header">
			<div class="breadcrumbs">
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">Category</a></li>
					<li>Page active</li>
				</ul>
			</div>
			<h1>Cart page</h1>
		</div>
		<!-- /page_header -->
		<table class="table table-striped cart-list">
							<thead>
								<tr>
									<th  id="hello">
										Product
									</th>
									<th>
										Price
									</th>
									<th>
										Quantity
									</th>
									<th>
										Subtotal
									</th>
									<th>
										
									</th>
								</tr>
							</thead>
							<tbody>
                                {{#each cart}}
								<tr>
									<td>
										<div class="thumb_cart">
											<img src="/{{cartProducts.image.[0]}}" data-src="/{{cartProducts.image.[0]}}" class="lazy" alt="Image">
										</div>
										<span class="item_cart">{{cartProducts.title}}</span>
									</td>
									<td>
										<strong id="{{cartProducts.price}}">${{cartProducts.price}}</strong>
									</td>
									<td>
                                        <div class="def-number-input number-input safari_only">
                                        <button onclick="addToCart(event,'{{product}}','{{user}}','-1')" class="minus"></button>
                                        <input id="{{product}}" class="quantity" min="0" name="quantity" value={{quantity}} type="number">
                                        <button onclick="addToCart(event,'{{product}}','{{user}}','1',{{quantity}})" class="plus"></button>
                                        </div>
										
									</td>
									<td>
										<strong id="{{cartProducts.title}}">{{subtotal}}</strong>
									</td>
									<td class="options" >
										<a  href="/User/remove-product/{{cartProducts._id}}"><i class="ti-trash"></i></a>
									</td>
								</tr>
                                {{/each}}
								
							</tbody>
						</table>

						<div class="row add_top_30 flex-sm-row-reverse cart_actions">
						<div class="col-sm-4 text-right mt-3">
							<button type="button" class="btn_1 gray">Update Cart</button>
						</div>
							<div class="col-sm-8">
							<div class="apply-coupon mt-3">
								<div class="form-group form-inline">
									<input type="text" name="coupon-code" value="" placeholder="Promo code" class="form-control"><button type="button" class="btn_1 outline">Apply Coupon</button>
								</div>
							</div>
						</div>
					</div>
					<!-- /cart_actions -->
	
		</div>
		<!-- /container -->
		
		<div class="box_cart">
			<div class="container">
			<div class="row justify-content-end">
				<div class="col-xl-4 col-lg-4 col-md-6">
			<ul>
				
				
				<li>
					<span id="total">Total</span> ${{total}}
				</li>
			</ul>
			<a href="cart-2.html" class="btn_1 full-width cart">Proceed to Checkout</a>
					</div>
				</div>
			</div>
		</div>
		<!-- /box_cart -->
		
	</main>

    

    <script>
      window.addEventListener("load", myInitFunction)
    </script>