    <main style="background-color: rgba(77, 139, 255, 0.12) ;">
        
	    <div class="container margin_30">
	        <div class="="><div  class=""></div>
	        </div>
            
	        <div class="row">
	            <div class="col-md-6">
	                <div class="all">
	                    <div class="slider">
                            
	                        <div class="owl-carousel owl-theme main">
                                <img src="/{{productOne.image.[0]}}" alt="">
                                <img src="/{{productOne.image.[0]}}" alt="">
                                <img src="/{{productOne.image.[0]}}" alt="">
                                <img src="/{{productOne.image.[0]}}" alt="">
                                <img src="/{{productOne.image.[0]}}" alt="">
	                            
	                        </div>
	                        <div class="left none"><i class="ti-angle-left"></i></div>
	                        <div class="right"><i class="ti-angle-right"></i></div>
	                    </div>
	                    <div class="slider-two">
	                        <div class="owl-carousel owl-theme thumbs">
	                            <div style="background-image: url(/{{productOne.image.[0]}});" class="item active"></div>
	                            <div style="background-image: url(/{{productOne.image.[0]}});" class="item"></div>
	                            <div style="background-image: url(/{{productOne.image.[0]}});" class="item"></div>
	                            <div style="background-image: url(/{{productOne.image.[0]}});" class="item"></div>
	                            <div style="background-image: url(/{{productOne.image.[0]}});" class="item"></div>
	                            <div style="background-image: url(/{{productOne.image.[0]}});" class="item"></div>
	                        </div>
	                        <div class="left-t nonl-t"></div>
	                        <div class="right-t"></div>
	                    </div>
	                </div>
	            </div>
	            <div class="col-md-6">
	                <div class="breadcrumbs">
	                    <ul>
	                        <li><a href="#">Home</a></li>
	                        <li><a href="#">Category</a></li>
	                        <li>Page active</li>
	                    </ul>
	                </div>
	                <!-- /page_header -->
	                <div class="prod_info">
	                    <h1>{{productOne.title}}</h1>
	                    <span class="rating"><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star"></i><em>4 reviews</em></span>
	                    <p><small>SKU: MTKRY-001</small><br>{{description}}</p>
	                    <div class="prod_options">
							{{#each productOne.category}}
							
	                        <div class="row">
	                            <label class="col-xl-5 col-lg-5  col-md-6 col-6 pt-0"><strong>{{Maincategory}}</strong></label>
	                            <div class="col-xl-4 col-lg-5 col-md-6 col-6 colors">
	                                <p>{{Subcategory}}</p>
	                            </div>
	                        </div>
							{{/each}}

	                </div>
	                <!-- /prod_info -->
	                \<div class="row mt-3">
	                            <div class="col-lg-7 col-md-6">
	                                <div class="price_main"><span class="new_price">${{productOne.price}}</span><span class="percentage">-20%</span> <span class="old_price">${{productOne.ogprice}}</span></div>
	                            </div>
								{{#if logged}}
	                            <div class="col-lg-5 col-md-6">
	                                <div class="btn_add_to_cart"><a href="#0" onclick="addNToCart(event,'{{productOne._id}}','{{userId}}','1','new')" class="btn_1">Add to Cart</a></div>
	                            </div>
								{{else}}
								<div class="col-lg-5 col-md-6">
	                                <div class="btn_add_to_cart"><a href="/User/login" class="btn_1">Add to Cart</a></div>
	                            </div>
								{{/if}}
	                        </div>
	                <!-- /product_actions -->
	            </div>
	        </div>
	        <!-- /row -->
	    </div>
	    <!-- /container -->
	    
	    <div class="tabs_product">
	        <div class="container">
	            <ul class="nav nav-tabs" role="tablist">
	                <li class="nav-item">
	                    <a id="tab-A" href="#pane-A" class="nav-link active" data-toggle="tab" role="tab">Description</a>
	                </li>
	                <li class="nav-item">
	                    <a id="tab-B" href="#pane-B" class="nav-link" data-toggle="tab" role="tab">Reviews</a>
	                </li>
	            </ul>
	        </div>
	    </div>
	    <!-- /tabs_product -->
	    
	    <!-- /tab_content_wrapper -->

        

	    
	    <!-- /container -->

	    <div class="feat">
			<div class="container">
				<ul>
					<li>
						<div class="box">
							<i class="ti-gift"></i>
							<div class="justify-content-center">
								<h3>Free Shipping</h3>
								<p>For all oders over $99</p>
							</div>
						</div>
					</li>
					<li>
						<div class="box">
							<i class="ti-wallet"></i>
							<div class="justify-content-center">
								<h3>Secure Payment</h3>
								<p>100% secure payment</p>
							</div>
						</div>
					</li>
					<li>
						<div class="box">
							<i class="ti-headphone-alt"></i>
							<div class="justify-content-center">
								<h3>24/7 Support</h3>
								<p>Online top support</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<!--/feat-->

	</main>
    